_auth = YW1pLmthbG9sYS5zYUBnbWFpbC5jb206QUtDcDhueWhiaXdISEcyNVM4Qk50VDRlU0NWYWhMQkpuckQzczJTVmo2cDhaN01qdWdYdGpGMlZMZ3lwYzY0TGM3M3AyWHl2Rw==
email = ami.kalola.sa@gmail.com
always-auth = true
registry = https://amikalola.jfrog.io/artifactory/api/npm/node_repo-npm-remote/
